@font-face {
  font-family: 'header';
  src: url('fonts/header.woff2') format('woff2'),
       url('fonts/header.woff') format('woff'),
       url('fonts/header.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

hr,img,legend{border:0}legend,td,th{padding:0}hr,p{margin-bottom:1.5em}pre,textarea{overflow:auto}#content[tabindex="-1"]:focus,a:active,a:hover{outline:0}.aligncenter,.clear:after,.comment-content:after,.entry-content:after,.page-links,.site-content:after,.site-footer:after,.site-header:after,h1,h2,h3,h4,h5,h6{clear:both}.widget select,.wp-caption,embed,iframe,img,object,pre{max-width:100%}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;box-sizing:border-box}body{margin:0;background:#fff}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent;color:#4169e1}abbr[title]{border-bottom:1px dotted}b,optgroup,strong{font-weight:700}cite,dfn,em,i{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{height:auto}svg:not(:root){overflow:hidden}hr{box-sizing:content-box;background-color:#ccc;height:1px}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}textarea{width:100%}body,button,input,select,textarea{color:#404040;font-family:sans-serif;font-size:16px;font-size:1rem;line-height:1.5}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",Courier,monospace;font-size:15px;font-size:.9375rem;line-height:1.6;margin-bottom:1.6em;padding:1.6em}code,kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size:15px;font-size:.9375rem}abbr,acronym{border-bottom:1px dotted #666;cursor:help}ins,mark{background:#fff9c0;text-decoration:none}big{font-size:125%}*,:after,:before{box-sizing:inherit}blockquote:after,blockquote:before,q:after,q:before{content:""}blockquote,q{quotes:"" ""}ol,ul{margin:0 0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li>ol,li>ul{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}figure{margin:1em 0}table{border-collapse:collapse;border-spacing:0;margin:0 0 1.5em;width:100%}button,input[type=button],input[type=reset],input[type=submit]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;box-shadow:inset 0 1px 0 rgba(255,255,255,.5),inset 0 15px 17px rgba(255,255,255,.5),inset 0 -5px 12px rgba(0,0,0,.05);color:rgba(0,0,0,.8);font-size:12px;font-size:.75rem;line-height:1;padding:.6em 1em .4em;text-shadow:0 1px 0 rgba(255,255,255,.8)}button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover{border-color:#ccc #bbb #aaa;box-shadow:inset 0 1px 0 rgba(255,255,255,.8),inset 0 15px 17px rgba(255,255,255,.8),inset 0 -5px 12px rgba(0,0,0,.02)}button:active,button:focus,input[type=button]:active,input[type=button]:focus,input[type=reset]:active,input[type=reset]:focus,input[type=submit]:active,input[type=submit]:focus{border-color:#aaa #bbb #bbb;box-shadow:inset 0 -1px 0 rgba(255,255,255,.5),inset 0 2px 5px rgba(0,0,0,.15)}input[type=text],input[type=email],input[type=url],input[type=password],input[type=tel],input[type=range],input[type=date],input[type=month],input[type=week],input[type=time],input[type=datetime],input[type=datetime-local],input[type=color],input[type=number],input[type=search],textarea{color:#666;border:1px solid #ccc;border-radius:3px;padding:3px}select{border:1px solid #ccc}input[type=text]:focus,input[type=email]:focus,input[type=url]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=range]:focus,input[type=date]:focus,input[type=month]:focus,input[type=week]:focus,input[type=time]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=color]:focus,input[type=number]:focus,input[type=search]:focus,textarea:focus{color:#111}a:visited{color:purple}a:active,a:focus,a:hover{color:#191970}a:focus{outline:dotted thin}.main-navigation{clear:both;display:block;float:left;width:100%}.main-navigation ul{display:block;list-style:none;margin:0;padding-left:0}.main-navigation li{float:left;position:relative}.main-navigation a{display:block;text-decoration:none}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,.2);float:left;position:absolute;top:1.5em;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul a{width:200px}.main-navigation ul li.focus>ul,.main-navigation ul li:hover>ul{left:auto}.main-navigation ul ul li.focus>ul,.main-navigation ul ul li:hover>ul{left:100%}.main-navigation.toggled ul,.menu-toggle{display:none}@media screen and (min-width:37.5em){.menu-toggle{/*display:none*/}.main-navigation ul{display:block}}.site-main .comment-navigation,.site-main .post-navigation,.site-main .posts-navigation{margin:0 0 1.5em;overflow:hidden}.comment-navigation .nav-previous,.post-navigation .nav-previous,.posts-navigation .nav-previous{float:left;width:50%}.comment-navigation .nav-next,.post-navigation .nav-next,.posts-navigation .nav-next{float:right;text-align:right;width:50%}.gallery-item,.wp-caption-text{text-align:center}.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter{display:block;margin-left:auto;margin-right:auto}.hentry,.widget{margin:0 0 1.5em}.clear:after,.clear:before,.comment-content:after,.comment-content:before,.entry-content:after,.entry-content:before,.site-content:after,.site-content:before,.site-footer:after,.site-footer:before,.site-header:after,.site-header:before{content:"";display:table;table-layout:fixed}.sticky{display:block}.byline,.updated:not(.published){display:none}.group-blog .byline,.single .byline{display:inline}.entry-content,.entry-summary,.page-content{margin:1.5em 0 0}.page-links{margin:0 0 1.5em}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.comment-content .wp-smiley,.entry-content .wp-smiley,.page-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}.wp-caption{margin-bottom:1.5em}.wp-caption img[class*=wp-image-]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:.8075em 0}.gallery{margin-bottom:1.5em}.gallery-item{display:inline-block;vertical-align:top;width:100%}.gallery-columns-2 .gallery-item{max-width:50%}.gallery-columns-3 .gallery-item{max-width:33.33%}.gallery-columns-4 .gallery-item{max-width:25%}.gallery-columns-5 .gallery-item{max-width:20%}.gallery-columns-6 .gallery-item{max-width:16.66%}.gallery-columns-7 .gallery-item{max-width:14.28%}.gallery-columns-8 .gallery-item{max-width:12.5%}.gallery-columns-9 .gallery-item{max-width:11.11%}.gallery-caption{display:block}









/* =========================================================================================== */
/*                                                                                             */
/*                                                                                             */
/*          GENERAL
/*                                                                                             */
/*                                                                                             */
/* =========================================================================================== */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/*          COMMON
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 

*, html, body {
  -webkit-font-smoothing: antialiased;
  font-family: Noto Serif;
  font-size: 18px;
  color: #2e1c17;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
}

a, a:hover, a:active {
  /*color: black !important;*/
  text-decoration: none;
  outline: 0;
}

p {
  padding: 0;
  margin: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/*          HEADER
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 

/* --- moved to bottom --- */




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/*          BODY
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
div#page {
  width: 100%;
  height: 100%;
}

div#content {
  width: 100%;
  height: 100%;
}

  div#primary {
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }

    main#main {
      max-width: 1200px;
      height: 100%;
      margin: 0 auto;
    }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/*          EXPAND BROWSER
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 

div#expandBrowser {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 99999999999;
  color: white;
  text-align: center;
  display: none;
}

  div#expandBrowserInner {
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
    color: white;
  }

@media screen and (min-width: 1024px) {
  div#expandBrowser {
    display: none;
  }
}




/* =========================================================================================== */
/*                                                                                             */
/*                                                                                             */
/*          HOME
/*                                                                                             */
/*                                                                                             */
/* =========================================================================================== */

div#homeBigText {
  text-align: right;
  padding-right: 20px;
  position: relative;
  z-index: 99999;
  overflow-wrap: normal;
  overflow-x: hidden;
  font-family: 'Bariol';
  font-weight: normal;
  font-style: italic;
}
div#homeBigText p {
  font-size: 80px;
  line-height: 80px;
  padding-top: 20px;
  font-family: 'Bariol';
  font-weight: bold;
  font-style: italic;
}
div#homeSmallText {
  float: left;
  position: absolute;
  margin-top: 100px;
  margin-left: -300px;
  z-index: 999999;
  font-weight: bold;
}
div#homeSmallText p {
  font-size: 24px;
  line-height: 28px;
}
div#homeGroup1 {
  position: fixed;
  right: 10%;
  bottom: 0px;
  width: 50%;
}
div#homeImage {
  line-height: 0;
  width: 100%;
  margin-top: 5px;
  z-index: 9999;
  position: relative;
  text-align: right;
}
div#homeImage img {
  /*width: 100%;*/
  z-index: 99999;
  width: auto;
  max-width: 2000px;
}
body.home header#masthead {
  background-repeat: no-repeat;
  background-position: top center;
}







/* =========================================================================================== */
/*                                                                                             */
/*                                                                                             */
/*          EGITIMLER
/*                                                                                             */
/*                                                                                             */
/* =========================================================================================== */


div#headerEgitimlerContainer {
  width: 100%;
  display: inline-block;
  text-align: center;
}

h1#headerEgitimler {
  width: 573px;
  height: 135px;
  text-align: center;
  padding-top: 30px;
  position: relative;
  top: 0px;
  display: inline-block;
  margin-left: 300px;
}

div#egitimlerContent {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}

div.egitim {
  clear: both;
  margin-bottom: 50px;
}

div.egitim:nth-child(odd) {
  float: left;
}

div.egitim:nth-child(even) {
  float: right;
}

div.egitimNumber {
  display: inline-block;
  vertical-align: top;
}

div.egitimColumn2 {
  display: inline-block;
  max-width: 600px;
}

div.egitimHeader {
  font-size: 24px;
  font-family: 'Bariol';
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05rem;
}

div.egitimDescription {
  margin-bottom: 10px;
}

div.egitimDetailButton {
  display: inline-block;
  cursor: pointer;
}

div.egitimDetail {
  overflow-y: hidden;
  height: 0;
  opacity: 0;
}








/* =========================================================================================== */
/*                                                                                             */
/*                                                                                             */
/*          HAKKIMDA
/*                                                                                             */
/*                                                                                             */
/* =========================================================================================== */

div#headerHakkimdaContainer {
  width: 100%;
  display: inline-block;
  text-align: center;
}

h1#headerHakkimda {
  display: inline-block;
  margin-left: 300px;
}

div#hakkimdaContent {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  line-height: 32px;
}

span#hakkimdaInfo {
  float: left;
  padding-right: 50px;
  padding-bottom: 30px;
}

span.hakkimdaInfoHeader {
  font-weight: bold;
}
p + p span.hakkimdaInfoHeader {
  display: inline-block;
  margin-top: 2rem;
}








/* =========================================================================================== */
/*                                                                                             */
/*                                                                                             */
/*          TIYATRO
/*                                                                                             */
/*                                                                                             */
/* =========================================================================================== */

div#headerTiyatroContainer {
  width: 100%;
  display: inline-block;
  text-align: center;
}

h1#headerTiyatro {
  width: 746px;
  height: 216px;
  text-align: center;
  padding-top: 30px;
  position: relative;
  top: 0px;
  display: inline-block;
  margin-left: 300px;
}

div#tiyatroContent {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  line-height: 32px;
}

div.oyun {
  margin-bottom: 50px;
}

div.oyunColumnLeft {
  width: 48%;
  display: inline-block;
  background-repeat: no-repeat;
  padding: 30px;
  vertical-align: top;
}

span.oyunTitle {
  padding: 30px 0px;
  display: inline-block;
  font-size: 24px;
  color: white;
  font-family: 'Bariol';
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05rem;
}

div.oyun:nth-child(odd) div.oyunColumnLeft {
  text-align: right;
  background-position: top right;
}

div.oyun:nth-child(even) div.oyunColumnLeft {
  text-align: left;
  float: right;
}

div.oyunColumnRight {
  width: 50%;
  display: inline-block;
  margin-top: 50px;
}







/* =========================================================================================== */
/*                                                                                             */
/*                                                                                             */
/*          ILETISIM
/*                                                                                             */
/*                                                                                             */
/* =========================================================================================== */

div#headerIletisimContainer {

}

div#iletisimContent {
  height: 100%;
}

div#iletisimInner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

h1#headerIletisim {
  /*background-image: url('img/brush-iletisim-2.jpg');*/
  text-align: center;
  position: relative;
  display: block;
  margin-top: -153px;
  margin-bottom: 150px;
}

div#iletisimContent {
  max-width: 800px;
  margin: 0 auto;
  line-height: 32px;
  height: 100%;
}

div.itelisimItem {
  display: inline-block;
  padding: 0 20px;
}

div#iletisimContent a {
  border-bottom: 2px solid white;
  -webkit-transition: border-bottom 300ms ease-out 0s ;
  -moz-transition:  border-bottom 300ms ease-out 0s ;
  -o-transition:    border-bottom 300ms ease-out 0s ;
  transition:     border-bottom 300ms ease-out 0s ;
  padding-bottom: 3px;
}

div#iletisimContent a:hover {
  border-bottom: 2px solid #d44e3a;
  color: #d44e3a !important;
}









/* =========================================================================================== */
/*                                                                                             */
/*                                                                                             */
/*          404
/*                                                                                             */
/*                                                                                             */
/* =========================================================================================== */

body.error404 {

}

  body.error404 main#main {
    text-align: center;
  }

  div#content404 {
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
  }









/* =========================================================================================== */
/*                                                                                             */
/*                                                                                             */
/*          MOBILE
/*                                                                                             */
/*                                                                                             */
/* =========================================================================================== */

@media screen and (max-width: 1024px) {
  
  header#masthead {
    margin-left: 0px;
    width: 100%;
  }

  ul#primary-menu {
    margin-left: 0px;
  }

  ul#primary-menu li {
    clear: none;
    float: none;
    padding: 0 10px;
  }

  main#main {
    margin-top: 200px;
  }

  #egitimlerBrush1, #egitimlerBrush2, #hakkimdaBrush1, #hakkimdaBrush2, #tiyatroBrush2, #tiyatroBrush3 {
    display: none;
  }

  h1#headerEgitimler, h1#headerHakkimda, h1#headerTiyatro {
    margin-left: 0px;
  }

  div#homeGroup1 {
    width: 100%;
    right: 0px;
    position: relative;
    top: 100px;
  }

  div#homeSmallText {
    top: -241px;
    position: absolute;
    margin-left: 0px;
    left: 10px;
  }

  div#homeBigText p {
    font-size: 60px;
    line-height: 60px;
  }

  span#hakkimdaInfo {
    float: none;
  }

  div#headerBrush {
    left: 50%;
    margin-left: -225px;
  }

  body.home div#headerBrush {
    position: absolute;
  }

  main#main, div#primary {
    height: auto;
  }

}


@media screen and (max-height: 690px) {

div#homeBigText p {
  font-size: 50px;
  line-height: 50px;
}

div#homeSmallText {
  margin-top: 140px;
}

}





/* =========================================================================================== */
/*                                                                                             */
/*                                                                                             */
/*          PRELOAD
/*                                                                                             */
/*                                                                                             */
/* =========================================================================================== */

div#homeBigText, div#homeSmallText, div#homeImage, div.site-branding, div#headerBrush, li.menu-item, div#headerEgitimlerContainer, .egitim, span#hakkimdaInfo1, span#hakkimdaInfo2, span#hakkimdaInfo3, div#hakkimdaContent p, div.itelisimItem {
  opacity: 0;
}

.opacity0 {
  opacity: 0;
}










/* --- Clean --- */


/* Nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 3rem;
}


/* Logo */
nav .logo {
  display: inline-block;
  float: left;
}
nav .logo span {
  display: inline-block;
  width: 120px;
  height: 39px;
  background-size: cover;
}


/* Menu */
.menu-wrapper {
  display: inline-block;
  float: left;
  margin-left: 5rem;
}
.menu {
  list-style: none;
  margin: 0;
  margin-top: -0.25rem;
  padding: 0;
}
.menu a {
  display: inline-block;
  margin: 0.25rem 0;
  color: #90A1AD;
}
.menu a:hover {
  color: #d44e3a;
}
.menu .current-menu-item a {
  border-bottom: 2px solid currentColor;
}





h1 {
  font-family: "Bariol", sans-serif;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 5rem;
  color: #90A1AD;
  /*color: rgba(144, 161, 173, 0.25);*/
  opacity: 0.25; 
}